*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.debug{
  background-color: rgba(255, 0, 0, .2);
  border: 1px solid white;

}

.d-flex{
  display: flex;
}

.justify-center{
  justify-content: center;
}

.justify-end{
  justify-content: end;
}

.align-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

.direction-column{
  flex-direction: column;
}

.grow{
  flex-grow: 1;
}

.wrap{
  flex-wrap: wrap;
}

.h-100{
  height: 100%;
}

.p-10{
  padding: 10px;
}

.mb-20{
  margin-bottom: 20px;
}

.p-20{
  padding: 20px;
}

.mt-80{
  margin-top: 80px;
}

.text-center{
  text-align: center;
}

li{
  list-style: none;
}

.row{
  display: flex;
}

.toplist li{
  cursor: pointer;
  padding: 10px 5px;
}

.homelist hr{
  display: none;
  width: 1px;
  height: 20px;
  transform: translateY(50%);
  border-color: #ADFF2F;
}

.homelist a:hover hr{
  display: inline-block;
}


.toplist li hr{
  width: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-color: #ADFF2F;
  display: none;
}

.toplist li:hover{
  color: #A3A3A3;
}

.toplist li:hover hr{
  display: block;
}

.homelist li{
  margin-top: 10px;
}

.inline{
  display: inline-block ;
}

.mt-30{
  margin-top: 30px;
}

.mr-10{
  margin-right: 10px;
}

.ml-10{
  margin-left: 10px;
}

.mt-10{
  margin-top: 10px;
}

.homelist img{
  width: 30px;
  vertical-align: middle
}

span strong{
  color: white;
}

.user img{
  width: 20px;
  vertical-align: middle
}

#logosmall{
  display: none;
}

.fa-solid.fa-plus{
  padding: 10px;
  color: black;
  background-color: #A3A3A3;
}

.container{
  height: calc(100vh - 100px);
}

main .hamburger{
  color: #A3A3A3;
  background-color: black;
  width: 200px;
  height: 100%;
  overflow: auto;
}

main .hamburger::-webkit-scrollbar {
  display: none;
}

.hamburger a{
  color: #A3A3A3;
}

.hamburger a:hover{
  color: white;
}

.gray{
  filter: brightness(0) saturate(100%) invert(66%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

h4{
  color: white;
}

main .main{
  background-color: #141922;
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
}

.playlist.homelist{
  overflow: auto;
}

.container-upgrade{
  position: fixed;
  width: calc(100% - 200px);
  opacity: 0.8;
  background-color: #080B12;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 80px;
  z-index: 100;
}

a{
  color: white;
  text-decoration: none;
}

.container-upgrade a{
  border: 1px solid white;
  padding: 10px 30px;
  margin-right: 30px;
  border-radius: 25px;
}

section .col{
  width: calc(100% / 6);
}

img{
  width: 100%;
}

.popular img{
  border-radius: 50%;
}

i:hover{
  cursor: pointer;
  color: #A3A3A3;
}

.logo img{
  width: 80%;
}

.homelist{
  margin-top: 20px;
}

.card{
  position: relative;
}

.card .img{
  position: relative;
}

.card:hover{
  cursor: pointer;
}

.card .img:hover img {
  opacity: 0.5; 
}

.card .fa-circle-play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  display: none;
}

.card .img:hover .fa-circle-play{
  display: block;
}

footer{
  background-color: #282828;
  height: 100px;
}

footer .img-in-play{
  height: 50px;
  width: 50px;
}

footer .row .col:first-child{
  width: 400px;
}

footer .row .col:last-child{
  width: 400px;
}

footer .hr{
  width: 30%;
  height: 2px;
  background-color: #5A5A5A;
  border-radius: 25px;
}

footer .hr .percentuale{
  width: 20%;
  height: 100%;
  border-radius: 25px;
  background-color: #C1C1C1ed;
}

footer .hr.play{
  width: 100%;
  height: 2px;
  background-color: #5A5A5A;
  border-radius: 25px;
}

footer #brano{
  font-size: 0.8rem;
}

footer .hr.play .percentuale{
  width: 70%;
  height: 100%;
  border-radius: 25px;
  background-color: #C1C1C1ed;
}

footer .col.play .fa-solid, footer .col.play .fa-regular{
  padding: 20px;
}


@media screen and (max-width: 1100px) {
  section .col{
    width: calc(100% / 4);
  }
}

@media screen and (max-width: 700px) {
  section .col{
    width: calc(100% / 2);
  }

  footer .col.play .fa-solid, footer .col.play .fa-regular{
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {

  #logosmall{
    display: block;
  }

  #normallogo{
    display: none;
  }

  main .hamburger{
    width: 80px;
  }

  main .hamburger span, .playlist{
    display: none;
  }

  main .main, .container-upgrade{
    width: calc(100% - 80px);
  }

  .homelist{
    flex-grow: 1;
  }

  .homelist img {
    width: 100%
  }

  .logo img {
    width: 100%;
  }

  .user img{
    width: 100%;
  }
  
}

